@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fbf8f8;
}

.main-section {
  display: flex;
  flex-direction: column;
  background-image: url("../images/header-shapes\ mobile.svg");
  background-size: 100%;
  padding: 24px;
  background-repeat: no-repeat;
}

ul > li {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

h1 > a {
  text-decoration: none;
  color: #6070ff;
}

ul > li > a {
  text-decoration: none;
  width: 62px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #344563;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.header-links-phone {
  margin: auto 0;
}

.header-links-desktop {
  display: none;
}

.logo {
  display: flex;
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  flex-grow: 0;
}

.div-description > p {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
}

.social-media-icons > ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  column-gap: 0.8rem;
  max-width: 170px;
  padding: 0;
  margin-top: 5px;
}

.product-categories {
  margin: 8px 0;
}

.product-categories > li {
  padding: 0;
}

.type_dev > li {
  padding: 0;
  font-size: 13px;
  color: #7a869a;
  font-weight: bold;
}

.social-media-icons > ul > li {
  padding: 0;
}

.btn {
  transition: width 2s, height 2s;
}

.btn:hover {
  width: 150%;
  height: 150%;
}

.product-categories {
  display: flex;
  column-gap: 3px;
  padding: 0;
}

.type_dev {
  display: flex;
  column-gap: 8px;
  padding: 0;
}

.article_text {
  align-items: baseline;
  flex-direction: column;
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.article_img {
  width: 95%;
  margin: 0 auto;
}

.button-category {
  padding: 6px 6px;
  border: none;
  border-radius: 10px;
  color: #6070ff;
  background-color: #ebebff;
  font-size: 12px;
}

.li-color {
  color: #344563 !important;
}

.div-works {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 20px;
  padding: 18px 10px 18px 10px;
  box-shadow: 0 1px 3px 1px #dfe1e6;
  background-color: white;
  place-self: center;
}

.button-project,
.button-get-resume {
  border: 1px solid #396df2;
  border-radius: 10px;
  padding: 8px 8px;
  font-size: 17px;
  background: none;
  color: #396df2;
  font-weight: 500;
  width: fit-content;
  margin-top: 10px;
}

.works-section {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: end;
  row-gap: 100px;
  background-color: #fbf8f8;
  margin-bottom: 40px;
}

.about-my-self {
  background-image: url(../images/Base\ about\ my\ self.svg);
  background-size: 110%;
  background-attachment: scroll;
  margin: 77px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-header {
  height: 0;
}

h2,
.input-form,
.li-color {
  font-family: "Poppins", sans-serif;
}

.div-description-about > h2 {
  height: auto;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  color: #172b4d;
  margin: 16px 0;
}

.languages {
  font-size: 20px;
  padding: 0 16px;
}

.li-categories > div {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  align-items: baseline;
  padding: 0;
  width: 300px;
}

.languages-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #f7f7f9;
  padding: 15px;
  width: 95%;
  border-radius: 10px;
}

.languages-items-li {
  padding: 0;
  background-color: #f7f7f9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 120px;
}

.li-categories > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
  background: url("../images/contact\ form\ shapes-mobile.png") no-repeat,
    url("../images/Contact\ me.png");
  background-attachment: scroll;
  background-size: cover;
  padding: 50px 0;
}

.form-contact {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-contact > ul {
  width: 80%;
}

.head-contact {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.contactme > p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  width: 80%;
}

.input-form {
  border-radius: 7px;
  width: 100%;
  height: 48px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #cfd8dc;
  padding-inline-start: 5px;
}

textarea {
  height: 170px !important;
  padding-top: 5px;
}

.btn-submit {
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 17px;
  background: white;
  color: #396df2;
  font-weight: 500;
  border-color: white;
  align-self: start;
  margin-top: 5px;
}

.btn-submit:hover {
  background-color: #7f8cff;
  color: white;
  border: none;
  outline: none;
}

.div-description > h2 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-top: 100px;
}

.product-details {
  color: #344563;
  font-size: 12px;
  margin: 8px 0;
}

.button-project:enabled,
.button-get-resume:hover {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  color: #7f8cff;
}

.button-project:hover,
.button-get-resume:hover {
  background: #6070ff;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.button-project:active,
.button-get-resume:active {
  background: #2230d2;
  color: white;
  border-radius: 8px;
}

.button-project:disabled,
.button-get-resume:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.product-title {
  color: #091e42;
  font-size: 26px;
  line-height: 44px;
}

.product-info {
  color: #7a869a !important;
  font-weight: 600;
}
h4 {
  font-family: "Poppins", sans-serif;
  color: #344563;
}

.div-connect > h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #7f8cff;
  margin-top: 25px;
}

.let-connect {
  color: #7f8cff;
  font-weight: 500;
}

.about-text {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.contactme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.form-ul {
  padding: 0;
  margin: 0;
}

.div-connect2 {
  margin-top: 16px;
}

.div-description-about {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.languages-module {
  border-bottom: 2px solid #dfe1e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  margin: 16px 0;
}

.ul-languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.languages-items-li > img {
  margin-left: 10px;
}

.languages-title {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

@media screen and (max-width: 298px) {
  .product-categories li:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .header-links-phone {
    display: none;
  }

  .header-links-desktop {
    display: grid;
  }

  .header-links-desktop > ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-content: center;
  }

  section[class="main-section"] {
    display: flex;
    flex-direction: column;
    background: url(../images/Header-bg.svg) no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    padding: 24px;
    padding-bottom: 88px;
    border-bottom: #dfe1e6 1px solid;
    border-radius: 0 0 0 111px;
    margin-bottom: 102px;
  }

  .main-header {
    display: flex;
    justify-content: space-around;
  }

  .div-description > p {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
  }

  .div-description-about {
    flex: 0.4;
  }

  .div-description {
    margin: 0 auto;
    width: 70%;
  }

  .div-connect {
    width: 60%;
  }

  .div-works {
    display: flex;
    flex-direction: row;
    width: 85%;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px 1px #dfe1e6;
    background-color: white;
    column-gap: 15px;
    justify-content: center;
    justify-items: center;
  }

  .article_img {
    width: 50%;
  }

  .div-works-reverse {
    flex-direction: row-reverse;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
  }

  .about-my-self {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    background-image: url(../images/about\ myself\ -\ background-\ shape-\ desktop.svg);
    background-size: 100%;
    background-attachment: scroll;
    padding: 5vh 8vw;
    width: 100%;
  }

  .div-connect2 {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }

  .div-connect2 > h4 {
    color: #7f8cff;
    font-size: 14px;
  }

  .li-categories > ul {
    flex-direction: row;
    column-gap: 10px;
  }

  .languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.6;
    padding: 0 10px;
    width: 50%;
  }

  .ul-languages {
    flex-direction: row;
    justify-content: start;
    gap: 12px;
    margin: 16px 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/contact\ form\ background\ shapes.svg) no-repeat;
    background-color: #6070ff;
    background-attachment: scroll;
    background-size: contain;
    height: 100vh;
    border-top-left-radius: 70px;
  }

  .contactme {
    padding: 0 25vw;
  }

  .form-ul > li {
    text-align: center;
  }

  .languages-items-li {
    width: 120px !important;
    display: block;
  }
  .languages-items-li p {
    padding: 0 12px 12px;
    font-size: 15px;
  }
  .languages-items-li img {
    padding: 12px;
  }

  .product-categories li:last-child {
    display: inline;
  }

  .languages-title > h4,
  .languages-module > h4 {
    font-size: 16px;
    font-weight: 500;
  }

  .input-form {
    border-radius: 2px;
    height: 38px;
  }

  textarea {
    height: 150px !important;
  }
}
